Repository lagrange14/substations, pull requests merged in 2025-06, with the labels that each got.

#298 fix: make sign language and its cvars more reliable
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/_L5/Traits/HardOfHearing/SignLanguageSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_L5/Chat/Systems/ChatSystem.Sign.cs
  Content.Shared/_L5/CCVar/CCVars.L5.cs
  Content.Shared/_L5/Traits/HardOfHearing/SharedSignLanguageSystem.cs
  Content.Shared/_L5/Traits/HardOfHearing/SignLanguageSystem.cs
Labels: Changes: C#, size/M

#304 fix: Ore and entitytable fixes
  Content.Server/Procedural/DungeonJob/DungeonJob.EntityTableDunGen.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.Ore.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.cs
  Content.Shared/Procedural/DungeonLayers/EntityTableDunGen.cs
Labels: Changes: C#, size/L

#306 feat: allow miners to just be unanchorable
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
Labels: Changes: YML, size/XS

#305 fix: increase max job length
  Resources/ConfigPresets/L5/L5.toml
Labels: size/XS

#303 fix: felinid typing indicators
  Resources/Prototypes/_DV/typing_indicator.yml
Labels: Changes: YML, size/XS

#301 fix: FTL whitelist tweaks
  Content.Server/_DV/Cargo/Systems/CargoSystem.ATS.cs
  Content.Server/_DV/Shuttles/Systems/DockingShuttleSystem.cs
  Content.Shared/_L5/Shuttles/Components/FTLDestinationComponent.cs
  Resources/Prototypes/_DV/planets.yml
Labels: Changes: C#, Changes: YML

#299 tweak: synth idle typing indicators
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorPrototype.cs
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/_L5/Effects/speech_synth.rsi/meta.json
  Resources/Textures/_L5/Effects/speech_synth.rsi/thinking.png
Labels: Changes: C#, Changes: Asset, size/S

#311 fix: ore processor claim points UI
  Content.Client/Lathe/UI/LatheMenu.xaml
Labels: Changes: UI, size/XS

#319 Repurpose R&D statues
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
Labels: Changes: YML, size/M

#322 feat: adjust salvage landmines
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/_L5/Entities/Objects/Misc/land_mine.yml
Labels: Changes: YML

#324 fix: bring back kill traitor objectives
  Content.Server/_DV/Objectives/Systems/KillFellowTraitorObjectiveSystem.cs
Labels: Changes: C#, size/M

#325 Attempt to fix the labeler workflow
  .github/workflows/labeler-pr.yml
Labels: Changes: YML, size/XS

#293 Lore in the Guidebook
  Resources/Locale/en-US/_L5/guidebook/guides.ftl
  Resources/Prototypes/_L5/Guidebook/lore.yml
  Resources/ServerInfo/Guidebook/_L5/Lore/Basics.xml
  Resources/ServerInfo/Guidebook/_L5/Lore/Infolife.xml
  Resources/ServerInfo/Guidebook/_L5/Lore/Organizations.xml
  Resources/ServerInfo/Guidebook/_L5/Lore/Timeline.xml
  Resources/ServerInfo/Guidebook/_L5/Rules/L5Ruleset.xml
Labels: Changes: YML, Changes: Localization, Changes: Asset, size/M

#308 More food tweaks
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/salad.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_DV/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
Labels: Changes: YML, size/L

#326 Remove bluespace ore from biome
  Resources/Prototypes/_DV/Procedural/biome_ore_templates.yml
  Resources/Prototypes/_DV/Procedural/salvage_loot.yml
  Resources/Prototypes/_DV/planets.yml
Labels: Changes: YML, size/S

#327 fix: don't speedrun restarting
  Resources/ConfigPresets/L5/outpost.toml
Labels: size/XS, S: Needs Review

#330 feat: ghosts know sign language
  Content.Shared/_L5/Traits/HardOfHearing/SignLanguageSystem.cs
Labels: Changes: C#, size/XS

#329 feat: disable passive income for outpost rounds
  Resources/Prototypes/_L5/Maps/nucleus.yml
Labels: Changes: YML, size/XS

#328 fix: radios shouldn't pick up obfuscation
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/_L5/Radio/RadioDeviceSystem.cs
Labels: Changes: C#, size/XS

#335 feat: handheld radio improves
  Content.Server/_L5/Radio/RadioDeviceSystem.cs
  Content.Server/_L5/Radio/RadioMicrophoneComponent.cs
  Resources/Audio/_L5/Items/attributions.yml
  Resources/Audio/_L5/Items/radio_off.ogg
  Resources/Audio/_L5/Items/radio_on.ogg
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: Changes: C#, Changes: YML, size/S, Changes: Audio

#341 Update cvars for sign language
  Resources/ConfigPresets/L5/L5.toml
Labels: size/XS

#340 Nix bluespace from red rock
  Resources/Prototypes/Procedural/vgroid.yml
Labels: Changes: YML, size/XS

#339 Move moth and reptilian diets to traits
  Content.Server/_L5/Traits/DietaryRestriction/DietaryRestrictionSystem.cs
  Content.Shared/_L5/Traits/DietaryRestriction/DietaryRestrictionComponents.cs
  Resources/Locale/en-US/_L5/traits/traits.ftl
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/_L5/Traits/restricted_diet.yml
  Resources/Prototypes/_L5/dietary_restrictions.yml
Labels: Changes: C#, Changes: YML, Changes: Localization

#350 Remove psionic rolling
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
Labels: Changes: C#, size/S

#351 Don't call not disabilities disabilities
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/_L5/Traits/physical_traits.yml
Labels: Changes: YML, Changes: Localization

#347 fix: air alarm panic/fill flowmos presets unborken
  Content.Server/Atmos/Monitor/Systems/AirAlarmModes.cs
  Content.Shared/_L5/Atmos/GasVentPumpData.cs
Labels: Changes: C#, size/M

#354 fix: Reduce pitch variance
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
Labels: Changes: YML, size/M

#357 Small change to the muted trait, fixed a typo in another trait
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization, size/XS

#359 tweak: change wording of nonspeaking trait again
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization, size/XS

#361 fix: make N14 tree hitboxes make sense
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/floradesert.yml
Labels: Changes: YML, size/XS

#360 feat: add confirm to /golobby on > 1 hour rounds
  Content.Server/GameTicking/Commands/GoLobbyCommand.cs
Labels: Changes: C#, size/S, S: Needs Review

#363 Port toy sprites from the den
  Resources/Locale/en-US/_DEN/markings/toy.ftl
  Resources/Prototypes/_DEN/Entities/Mobs/Customization/Markings/toy.yml
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_gold.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_gold_animated.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_silver.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/windup_silver_animated.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/accessories.rsi/zipper.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/belly_plush_f.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/belly_plush_m.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/l_foot_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/r_foot_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush_human_f.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/overlay.rsi/torso_plush_human_m.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/arachne.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/buggy.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/buggy_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/hands.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/handsfeet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/harpy.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/harpy_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_human.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_longsnout.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/head_shortsnout.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/human.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/meta.json
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/ovinia.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/ovinia_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/shadowkin.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/shadowkin_feet.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/vox.png
  Resources/Textures/_DEN/Mobs/Customization/Body/Toy/seams.rsi/vox_feet.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#364 fix: only ore silo sources should be ore silo sources
  Content.Shared/_L5/Materials/OreSilo/SharedOreSiloSystem.cs
Labels: Changes: C#, size/XS

#369 feat: disable departmental economy
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Funds.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Resources/ConfigPresets/L5/L5.toml
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI

#370 Nerf hunger and thirst rates
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Content.Shared/Nutrition/Components/ThirstComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
Labels: Changes: C#, Changes: YML, size/S
