Repository lagrange14/substations, pull requests merged in 2025-05, with the labels that each got.

#169 fix: correct N14 counter rotation (via EE)
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter_bend.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter_cross.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter_intersect.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter_bend.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter_cross.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter_intersect.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter_bend.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter_cross.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter_intersect.png
Labels: size/S

#149 Add rider support
  .idea/.idea.SpaceStation14/.idea/icon.png
  .run/Content Server+Client.run.xml
  SpaceStation14.sln
Labels: size/S

#174 Config update sweep
  Resources/ConfigPresets/L5/L5.toml
  Resources/Locale/en-US/_DV/guidebook/guides.ftl
  Resources/Locale/en-US/_L5/guidebook/guides.ftl
  Resources/Prototypes/_L5/Guidebook/rules.yml
Labels: Changes: YML, Changes: Localization, size/S

#182 Ore boxes now have magnets and are dumpable
  Content.Shared/_NF/Storage/EntitySystems/MaterialReclaimerMagnetPickupSystem.cs
  Content.Shared/_NF/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Resources/Locale/en-US/_NF/storage/components/magnet-pickup-components.ftl
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
Labels: Changes: C#, Changes: YML, Changes: Localization

#183 Research bluespace crystals
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Server/Research/Systems/ResearchSystem.CrystalGeneration.cs
  Content.Server/_L5/Research/Systems/BluespaceCrystalGenerationSystem.cs
  Content.Shared/_L5/CCVar/CCVars.L5.cs
  Content.Shared/_L5/Research/GenerateCrystalMessage.cs
  Resources/Locale/en-US/_L5/research/research-console.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, size/M

#187 Typo ops :c
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

#196 Food rebalance rebalance
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/salad.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
Labels: Changes: YML, size/S

#192 fix: Make handheld crew monitors work again
  Content.Client/Medical/CrewMonitoring/CrewMonitoringNavMapControl.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Labels: Changes: C#, Changes: YML, Changes: UI, size/M

#197 Psych PDAs inherit BaseMedicalPDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, size/XS

#200 Revert "Subtle and SubtleOOC commands (#153)"
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Content.Server.csproj
  Content.Server/_Den/Chat/Commands/SubtleOOCCommand.cs
  Content.Server/_Floof/Chat/Commands/SubtleCommand.cs
  Content.Server/_Floof/Speech/Components/RandomBarkComponent.cs
  Content.Server/_Floof/Speech/Systems/RandomBarkSystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/_Floof/chat/ui/chat-box.ftl
  Resources/Locale/en-US/_Floof/random-barks/debug_chatterboy.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/debug.yml
  Resources/keybinds.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI

#208 Subtle redo
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Den/Chat/Commands/SubtleOOCCommand.cs
  Content.Server/_Floof/Chat/Commands/SubtleCommand.cs
  Content.Server/_Floof/Chat/Systems/ChatSystem.Subtle.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/_DEN/chat/ui/chat-box.ftl
  Resources/Locale/en-US/_Floof/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/_Floof/chat/ui/chat-box.ftl
  Resources/Locale/en-US/_Floof/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI, size/L

#207 Removed carpotoxin from the carp-based dishes
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ingredients.yml
Labels: Changes: YML, size/S

#205 tweak: Go back to the old enforcer sprite
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: YML, size/XS

#213 Limit chat by occlusion and pressure
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Floof/Chat/Systems/ChatSystem.Subtle.cs
  Content.Server/_Floof/Speech/Components/RandomBarkComponent.cs
  Content.Server/_Floof/Speech/Systems/RandomBarkSystem.cs
  Content.Shared/_L5/CCVar/CCVars.L5.cs
  Resources/Locale/en-US/_Floof/random-barks/debug_chatterboy.ftl
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/debug.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, size/L

#215 Remove French accent from mimes
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: Changes: YML, size/XS

#185 Adding/fixing some buildables/craftables
  Content.Server/_EE/Shower/ShowerSystem.cs
  Content.Shared/_EE/Showers/SharedShowerSystem.cs
  Content.Shared/_EE/Showers/ShowerComponent.cs
  Resources/Audio/_EE/Ambience/Objects/shower_enable.ogg
  Resources/Audio/_EE/Ambience/Objects/shower_running.ogg
  Resources/Locale/en-US/_EE/shower/shower-component.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_EE/Entities/Structures/Furniture/shower.yml
  Resources/Prototypes/_EE/Recipes/Construction/Graphs/furniture/shower.yml
  Resources/Prototypes/_L5/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_L5/Recipes/Lathes/tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/chairs.yml
  Resources/Textures/_EE/Structures/Furniture/shower.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/shower.rsi/shower.png
  Resources/Textures/_EE/Structures/Furniture/shower.rsi/shower_on.png
Labels: size/L

#216 Allow synths to beep
  Content.Shared/_L5/Traits/Synthetic/SharedSynthSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
  Resources/Prototypes/_L5/tags.yml
Labels: Changes: C#, Changes: YML

#218 Adjust borg/IPC/synth emote usability
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
Labels: Changes: YML, size/S

#224 tweak: make most organs recyclable
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/animal.yml
Labels: Changes: YML

#221 Add controls for easily settuping up flowmos
  Content.Client/Atmos/Monitor/UI/Widgets/PumpControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/PumpControl.xaml.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmModes.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Piping/Unary/Components/GasVentPumpComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentPumpComponent.cs
  Content.Shared/_L5/Atmos/Atmospherics.L5.cs
  Content.Shared/_L5/Atmos/GasVentPumpData.L5.cs
  Resources/Prototypes/_L5/Entities/Objects/Atmos/flowmos.yml
Labels: Changes: C#, Changes: YML, Changes: UI, size/L

#225 fix: filename consistency good
  Content.Shared/_L5/Atmos/Atmospherics.cs
  Content.Shared/_L5/Atmos/GasVentPumpData.cs
Labels: Changes: C#, size/XS

#214 Outpost followup 2
  Content.Server/_DV/Cargo/Systems/CargoSystem.ATS.cs
  Resources/Locale/en-US/_L5/roles/outpost.ftl
  Resources/Maps/_L5/nucleus.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/planets.yml
  Resources/Prototypes/_L5/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_L5/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_L5/Maps/nucleus.yml
  Resources/Prototypes/_L5/Roles/outpost.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: Map, size/L

#226 Fixed the scaling on the synth brain and vet cone
  Resources/Prototypes/_DEN/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_L5/Body/Organs/synth.yml
Labels: Changes: YML

#227 Big Borg Buff Bonanza
  Content.Server/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Shared/Silicons/Borgs/SharedBorgSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_L5/Recipes/Lathes/robotics.yml
Labels: Changes: C#, Changes: YML, size/M

#230 Add hard of hearing trait and sign language
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Client/_L5/Traits/HardOfHearing/SignLanguageSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Floof/Speech/Components/RandomBarkComponent.cs
  Content.Server/_Floof/Speech/Systems/RandomBarkSystem.cs
  Content.Server/_L5/Chat/Commands/SignCommand.cs
  Content.Server/_L5/Chat/Systems/ChatSystem.Sign.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatChannelExtensions.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_L5/CCVar/CCVars.L5.cs
  Content.Shared/_L5/Traits/HardOfHearing/HardOfHearingComponent.cs
  Content.Shared/_L5/Traits/HardOfHearing/SharedSignLanguageSystem.cs
  Content.Shared/_L5/Traits/HardOfHearing/SignLanguageComponent.cs
  Resources/Locale/en-US/_L5/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/_L5/traits/traits.ftl
  Resources/Prototypes/_L5/Entities/Mobs/NPCs/debug.yml
  Resources/Prototypes/_L5/Traits/disabilities.yml
  Resources/Prototypes/_L5/Traits/speech.yml
  Resources/keybinds.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI, size/L

#160 Port CPR
  Content.Server/_EE/Medical/CPR/CPRSystem.cs
  Content.Server/_EE/Medical/CPR/CPRTrainingComponent.cs
  Content.Shared/_EE/CCVars/CPRCCVars.cs
  Content.Shared/_EE/Medical/CPRDoAfterEvent.cs
  Resources/Audio/Effects/CPR.ogg
  Resources/Locale/en-US/_L5/traits/skills.ftl
  Resources/Locale/en-US/medical/components/cpr-training-component.ftl
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_L5/Traits/skills.yml
  Resources/Prototypes/_L5/Traits/speech.yml
Labels: Changes: C#, Changes: YML, Changes: UI, size/L

#250 Add L5Changelog.yml
  Resources/Changelog/L5Changelog.yml
Labels: Changes: YML, size/XS

#246 Further Lagrangification
  Resources/Locale/en-US/_DV/chat/highlights.ftl
  Resources/Locale/en-US/_DV/datasets/figurines.ftl
  Resources/Locale/en-US/_DV/job/assistant.ftl
  Resources/Locale/en-US/_DV/job/job-description.ftl
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Locale/en-US/_DV/store/uplink/disruption.ftl
  Resources/Locale/en-US/_DV/store/uplink/objectives.ftl
  Resources/Locale/en-US/administration/ui/silicon-law-ui.ftl
  Resources/Locale/en-US/commands/toolshed-commands.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Locale/en-US/navmap-beacons/station-beacons.ftl
  Resources/Locale/en-US/nyanotrasen/job/job-description.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/en-US/tips.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/roles.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/spawners.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/_DV/Catalog/Chat/highlights.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/pda.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Shoes/winter-boots.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/SecureCabinet/secure_cabinets.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
Labels: Changes: YML, Changes: Localization, size/M

#251 Feat: give wheelchairs the access of its rider
  Content.Shared/_L5/Movement/Components/PilotOnBuckleComponent.cs
  Content.Shared/_L5/Movement/Systems/PilotOnBuckleSystem.cs
  Resources/Prototypes/_L5/Entities/Objects/Vehicles/Wheelchairs/BaseWheelchair/base_wheelchair.yml
Labels: Changes: C#, Changes: YML, size/S

#253 Reenable & Add Collision to Wheelchairs
  Content.Shared/_L5/Movement/Systems/PilotOnBuckleSystem.cs
  Resources/Locale/en-US/_L5/traits/traits.ftl
  Resources/Prototypes/_L5/Traits/disabilities.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, size/S

#262 Doubled the time it takes for holopads to idle timeout
  Content.Shared/Telephone/TelephoneComponent.cs
Labels: Changes: C#, size/XS

#259 Remove admin check for dead chat
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Changes: C#

#265 Repenting for my pepper crimes but I don't fuck up this time
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
Labels: Changes: YML, size/S

#267 tweak: permanently enabled battlemaps
  Resources/ConfigPresets/L5/L5.toml
Labels: size/XS

#269 Add 'full' state to canister sprites
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Textures/Structures/Storage/canister.rsi/can-o4.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o5.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o6.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Asset, size/S

#283 Clarify whitelist logic
  Content.Server/_L5/Traits/DietaryRestriction/DietaryRestrictionSystem.cs
Labels: Changes: C#, size/XS

#280 Rod lovers united
  Resources/Prototypes/Stacks/Materials/parts.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_Nuclear14/Stacks/floor_tile_stacks.yml
Labels: Changes: YML, size/M

#284 Reintroduce Security Icons to Corpsman Glasses
  Resources/Prototypes/_DV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_DV/Recipes/Construction/Graphs/clothing/glasses_corpshud.yml
Labels: Changes: YML, size/XS

#282 Port obvious examine from Imp
  Content.Shared/_Impstation/Clothing/WearerGetsExamineTextComponent.cs
  Content.Shared/_Impstation/Clothing/WearerGetsExamineTextSystem.cs
  Content.Shared/_Impstation/Examine/DetailedInspectComponent.cs
  Content.Shared/_Impstation/Examine/DetailedInspectSystem.cs
  Content.Shared/_Impstation/Examine/ExtraExamineTextComponent.cs
  Content.Shared/_Impstation/Examine/ExtraExamineTextSystem.cs
  Resources/Locale/en-US/_Impstation/obvious.ftl
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_DV/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Neck/scarfs.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, size/L

#288 feat: disable time requirements for loadouts
  Content.Shared/Preferences/Loadouts/Effects/JobRequirementLoadoutEffect.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
Labels: Changes: C#

#287 feat: Add orb as loudout trinket
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_L5/Loadouts/trinkets.yml
Labels: Changes: YML, size/XS
