Repository lagrange14/substations, pull requests merged in 2025-08, with the labels that each got.

#417 fix: serialize SubFloorHideComponent.Enabled
  Content.Shared/_L5/SubFloor/SubFloorHideComponent.cs
Labels: Changes: C#, size/XS

#422 Omphalos updates first pass
  Resources/Maps/_L5/omphalos.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/_L5/Entities/Structures/Machines/foodfridge.yml
Labels: Changes: YML, Changes: Map, size/L

#420 Port Thaven tails from Imp
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/HumanoidVisualLayersExtension.cs
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/thaven_tail.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/basic.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/big1.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/big2.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/eel1.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/eel2.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/eel3.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/nurse1.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/nurse2.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/stub1.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/stub2.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/tadpole1.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/tadpole2.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/thresher1.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/tail.rsi/thresher2.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/basic_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/basic_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/big1_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/big1_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/big2_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/big2_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eel1_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eel1_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eel2_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eel2_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eel3_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eel3_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eelghost_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/eelghost_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/nurse1_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/nurse1_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/nurse2_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/nurse2_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/stub1_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/stub1_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/stub2_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/stub2_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/tadpole1_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/tadpole1_front.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/tadpole2_behind.png
  Resources/Textures/_Impstation/Mobs/Customization/thaven/taillayers.rsi/tadpole2_front.png
Labels: Changes: C#, Changes: YML, Changes: Localization, size/L, Changes: Sprite

#418 feat: Plant Analyzer (port from Den)
  Content.Client/_Den/Botany/PlantAnalyzer/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_Den/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml
  Content.Client/_Den/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/_Den/AbstractAnalyzer/AbstractAnalyzerComponent.cs
  Content.Server/_Den/AbstractAnalyzer/AbstractAnalyzerSystem.cs
  Content.Server/_Den/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/_Den/Botany/PlantAnalyzerSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/_Den/Botany/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/_Den/Botany/PlantAnalyzer/PlantAnalyzerLocalizationHelper.cs
  Content.Shared/_Den/Botany/PlantAnalyzer/PlantAnalyzerScannedUserMessage.cs
  Content.Shared/_Den/Botany/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/_DEN/botany/components/plant-analyzer-component.ftl
  Resources/Locale/en-US/_DEN/botany/plant-analyzer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DEN/Entities/Objects/Specific/Hydroponics/plant_analyzer.yml
  Resources/Prototypes/_DEN/Recipes/Lathes/botany.yml
  Resources/Textures/_DEN/Objects/Specific/Hydroponics/plant_analyzer.rsi/analyzer.png
  Resources/Textures/_DEN/Objects/Specific/Hydroponics/plant_analyzer.rsi/icon.png
  Resources/Textures/_DEN/Objects/Specific/Hydroponics/plant_analyzer.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI, size/XL, Changes: Sprite

#423 fix: Admin log AAC tablet messages
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
Labels: Changes: C#, size/XS

#434 fix: SSR can hear through holopads again
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, size/XS, S: Needs Review

#435 Upstream merge 2025-08-14
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Shared/Trigger/Components/Effects/RemoveComponentsOnTriggerComponent.cs
  Content.Shared/Trigger/Components/Effects/ToggleComponentsOnTriggerComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnBuckledComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnExaminedComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnLandComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnStrappedComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnUnbuckledComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnUnstrappedComponent.cs
  Content.Shared/Trigger/Systems/AddComponentsOnTriggerSystem.cs
  Content.Shared/Trigger/Systems/ComponentsOnTriggerSystem.cs
  Content.Shared/Trigger/Systems/TriggerOnLandSystem.cs
  Content.Shared/Trigger/Systems/TriggerOnStrappedOrBuckledSystem.cs
  Content.Shared/Trigger/Systems/TriggerSystem.Interaction.cs
  Resources/Changelog/Changelog.yml
  Resources/Credits/Immortals.txt
  Resources/Locale/en-US/credits/credits-window.ftl
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI, size/L

#436 fix: Missing whitelist component added to food fridge
  Resources/Prototypes/_L5/Entities/Structures/Machines/foodfridge.yml
Labels: Changes: YML, size/XS

#437 feat: Add discord rich icon
  Resources/ConfigPresets/L5/L5.toml
Labels: size/XS

#438 feat: Static fields
  Content.Server/_L5/StaticField/StaticFieldSystem.cs
  Content.Shared/_L5/StaticField/StaticFieldComponent.cs
  Resources/Audio/_L5/Effects/StaticField/powerdown.ogg
  Resources/Audio/_L5/Effects/StaticField/powerup.ogg
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_L5/Entities/Objects/Devices/circuitboards.yml
  Resources/Prototypes/_L5/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/_L5/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_L5/Recipes/Lathes/electronics.yml
  Resources/Textures/_L5/Structures/Holo/staticfield.rsi/meta.json
  Resources/Textures/_L5/Structures/Holo/staticfield.rsi/powered.png
  Resources/Textures/_L5/Structures/Holo/staticfield.rsi/unpowered.png
Labels: Changes: C#, Changes: YML, size/M, Changes: Audio, Changes: Sprite

#440 chore: Clean up C# side of static fields
  Content.Server/_L5/StaticField/StaticFieldSystem.cs
  Content.Shared/_L5/StaticField/StaticFieldComponent.cs
  Resources/Audio/_L5/Effects/StaticField/attributions.yml
  Resources/Prototypes/_L5/Entities/Structures/Holographic/projections.yml
Labels: Changes: C#, Changes: YML, size/S

#446 feat: Move messy drinker to a trait
  Resources/Locale/en-US/_L5/traits/traits.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_L5/Traits/physical_traits.yml
Labels: Changes: YML, Changes: Localization, size/S

#448 feat: Add buckets to janilocker
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
Labels: Changes: YML, size/XS

#452 feat: Craftable (sand)stone walls and printable brass
  Resources/Locale/en-US/_L5/recipes/structures.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_L5/Recipes/Construction/structures.yml
  Resources/Prototypes/_L5/Recipes/Lathes/Packs/ore.yml
  Resources/Prototypes/_L5/Recipes/Lathes/sheet.yml
Labels: Changes: YML, Changes: Localization, size/M
