Repository lagrange14/substations, pull requests merged in 2025-04, with the labels that each got.

#15 Up the character counts of paper and books, recording time of cassettes
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/tape_recorder.yml
Labels: Changes: YML

#20 Make holopads passable by dragged items
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: YML

#33 Port chatstacking
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/_EE/CCVars/CCVars.EE.cs
  Resources/Locale/en-US/_EE/chat/chatstack.ftl
  Resources/Locale/en-US/_EE/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI

#35 Port Fix Silo Distance from EE
  Content.Server/_EE/Materials/MaterialSiloSystem.cs
Labels: Changes: C#

#39 Dogstar fixes
  Resources/Locale/en-US/_L5/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_L5/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_L5/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_L5/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Changes: Localization

#41 Synth minor fixes
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/_L5/character-appearance/components/humanoid-appearance-component.ftl
  Resources/Locale/en-US/_L5/markings/synth.ftl
  Resources/Locale/en-US/_L5/reagents/meta/synthblood.ftl
  Resources/Locale/en-US/_L5/station/events.ftl
  Resources/Locale/en-US/_L5/traits/traits.ftl
  Resources/Locale/en-US/deltav/traits/synthetic.ftl
  Resources/Prototypes/_L5/Traits/synthetic.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI

#47 Further Dogstar fixes
  Resources/Prototypes/_L5/Recipes/Reactions/drinks.yml
Labels: Changes: YML

#59 Power monitor(and atmos monitor) can be researched and printed
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: YML

#65 Lagrange™ brand med buff
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_L5/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
Labels: Changes: YML

#71 Container QoL
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_L5/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_L5/tags.yml
Labels: Changes: YML

#66 Dietary restrictions
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/_L5/Traits/DietaryRestriction/DietaryRestrictionSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/_L5/Traits/DietaryRestriction/DietaryRestrictionComponents.cs
  Content.Shared/_L5/Traits/DietaryRestriction/DietaryRestrictionPrototype.cs
  Resources/Locale/en-US/_L5/traits/traits.ftl
  Resources/Locale/en-US/reagents/histamine.ftl
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/_L5/Traits/restricted_diet.yml
  Resources/Prototypes/_L5/dietary_restrictions.yml
  Resources/Prototypes/_L5/tags.yml
Labels: Changes: C#, Changes: YML, Changes: Localization

#68 Low Mobility Trait
  Content.Shared/_L5/Movement/Components/PilotOnBuckleComponent.cs
  Content.Shared/_L5/Movement/Systems/PilotOnBuckleSystem.cs
  Content.Shared/_L5/Traits/LowMobility/LowMobilityComponent.cs
  Content.Shared/_L5/Traits/LowMobility/LowMobilitySystem.cs
  Resources/Locale/en-US/_L5/traits/traits.ftl
  Resources/Prototypes/_L5/Entities/Objects/Vehicles/Wheelchairs/BaseWheelchair/base_wheelchair.yml
  Resources/Prototypes/_L5/Traits/disabilities.yml
  Resources/Textures/_L5/Objects/Vehicles/basewheelchair.rsi/meta.json
  Resources/Textures/_L5/Objects/Vehicles/basewheelchair.rsi/vehicle_deployed.png
  Resources/Textures/_L5/Objects/Vehicles/basewheelchair.rsi/vehicle_folded.png
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: Sprite

#75 Adding some recipes to the fabs
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: Changes: YML

#79 Massive update of manufacturables
  Resources/Locale/en-US/_L5/research/experimental.ftl
  Resources/Locale/en-US/_L5/research/industrial.ftl
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/drain.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_L5/Recipes/Construction/Graphs/sinks-drains.yml
  Resources/Prototypes/_L5/Recipes/Construction/sinks-drains.yml
  Resources/Prototypes/_L5/Recipes/Crafting/Graphs/magic_candle.yml
  Resources/Prototypes/_L5/Recipes/Crafting/magic_candle.yml
  Resources/Prototypes/_L5/Recipes/Lathes/Packs/devices.yml
  Resources/Prototypes/_L5/Recipes/Lathes/Packs/fabs.yml
  Resources/Prototypes/_L5/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_L5/Recipes/Lathes/carpets.yml
  Resources/Prototypes/_L5/Recipes/Lathes/devices.yml
  Resources/Prototypes/_L5/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_L5/Research/experimental.yml
  Resources/Prototypes/_L5/Research/industrial.yml
  Resources/Prototypes/_L5/tags.yml
Labels: Changes: YML, Changes: Localization

#92 Undo DV's strange take on whitelists
  Content.Server/Connection/ConnectionManager.cs
Labels: Changes: C#

#103 Change suit sensors to be global across a server's map
  Content.Client/Medical/CrewMonitoring/CrewMonitoringNavMapControl.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/DeviceNetwork/Systems/SingletonDeviceNetServerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Structures/Machines/crew_monitor_server.yml
Labels: Changes: C#, Changes: YML, Changes: UI

#116 Make medical airlocks paintable
  Resources/Prototypes/_DV/Entities/Structures/Doors/airlock_groups.yml
Labels: Changes: YML

#115 Update sounds for rodentia, kitsune, and vulps
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/kitsune.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Voice/speech_emotes.yml
Labels: Changes: YML

#126 Tracking implanters now report on Medical channel, updated lore
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML

#130 Rename "uniform printer" to "universal textile fabricator"
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#93 Printable PDA Cartridges
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_L5/Recipes/Lathes/pda_cartridges.yml
Labels: Changes: YML

#60 Outpost (or: Build Your Own Damn Station)
  Resources/Maps/_L5/nucleus.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_L5/Maps/nucleus.yml
Labels: Changes: YML, Changes: Map

#70 Food rebalance
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/food_sequence_element.yml
Labels: Changes: YML, Changes: Localization

#138 Fix YAML/l10n errors in food
  Resources/Locale/en-US/_Impstation/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/condiments.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Impstation/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_Impstation/tags.yml
Labels: Changes: YML, Changes: Localization

#142 Outpost followup 1 of ???
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/L5/L5.toml
  Resources/ConfigPresets/L5/outpost.toml
  Resources/ConfigPresets/L5/substations.toml
  Resources/Locale/en-US/_L5/game_presets.ftl
  Resources/Locale/en-US/_L5/research/industrial.ftl
  Resources/Maps/_L5/nucleus.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_L5/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_L5/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_L5/Recipes/Lathes/Packs/request_consoles.yml
  Resources/Prototypes/_L5/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_L5/Research/industrial.yml
  Resources/Prototypes/_L5/game_presets.yml
  Resources/manifest.yml
Labels: Changes: YML, Changes: Localization, Changes: Map

#151 Update workflows for L5
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/changelog.yml
  .github/workflows/close-master-pr.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/update-credits.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  Resources/Maps/_L5/nucleus.yml
  Resources/Prototypes/_L5/Catalog/Shipyard/civilian.yml
  Tools/dump_github_contributors.ps1
Labels: Changes: YML, Changes: Map

#150 Display days in round duration fields
  Content.Client/Administration/UI/CustomControls/AdminLogLabel.cs
  Content.Client/Cargo/UI/BountyHistoryEntry.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/NewsReaderUiFragment.xaml.cs
  Content.Client/MassMedia/Ui/NewsArticleCard.xaml.cs
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/_DV/TapeRecorder/TapeRecorderSystem.cs
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: C#, Changes: UI

#156 Build fixes
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Shared/_L5/Traits/Synthetic/SharedSynthSystem.cs
  Resources/ConfigPresets/L5/L5.toml
  Resources/Maps/_L5/nucleus.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_L5/Maps/nucleus.yml
  Resources/Prototypes/_L5/Recipes/Lathes/Packs/fabs.yml
Labels: Changes: C#, Changes: YML, Changes: Map, size/L

#154 Merge upstream 2025-04-29
  Resources/Changelog/DeltaVChangelog.yml
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
  Resources/Maps/_DV/centcomm.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/kitsunefox.yml
  Resources/Prototypes/_DV/Recipes/Construction/structures.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Impstation/reagents/medicine.yml
Labels: Changes: YML, Changes: Localization, Changes: Map, size/L

#153 Subtle and SubtleOOC commands
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Content.Server.csproj
  Content.Server/_Den/Chat/Commands/SubtleOOCCommand.cs
  Content.Server/_Floof/Chat/Commands/SubtleCommand.cs
  Content.Server/_Floof/Speech/Components/RandomBarkComponent.cs
  Content.Server/_Floof/Speech/Systems/RandomBarkSystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/_Floof/chat/ui/chat-box.ftl
  Resources/Locale/en-US/_Floof/random-barks/debug_chatterboy.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/_Floof/Entities/Mobs/NPCs/debug.yml
  Resources/keybinds.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI, size/L
