Repository lagrange14/substations, pull requests merged in 2025-07, with the labels that each got.

#374 feat: pass CurTime to parallax shaders if requested
  Content.Client/Parallax/Data/ParallaxLayerConfig.cs
  Content.Client/Parallax/ParallaxOverlay.cs
Labels: Changes: C#, size/S, S: Needs Review

#376 tweak: another shuttle arbitrage tweak
  Resources/Prototypes/_L5/Catalog/Shipyard/civilian.yml
Labels: Changes: YML, size/XS

#375 Lagrangification: Some missed bits of branding.
  Resources/Locale/en-US/_DV/prototypes/entities/clothing/elite_suit.ftl
  Resources/Locale/en-US/_DV/store/uplink/wearables.ftl
  Resources/Locale/en-US/_Impstation/markings/undershirt.ftl
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/advertisements/arcade/blockgame.ftl
  Resources/Locale/en-US/advertisements/vending/bruiseomat.ftl
  Resources/Locale/en-US/advertisements/vending/lawdrobe.ftl
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/flamers.yml
Labels: Changes: YML, Changes: Localization, size/S

#382 Give thaven tails
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
Labels: Changes: YML, size/M

#387 Fix server crash on borg type selection
  Content.Server/_DV/Silicons/Laws/SlavedBorgSystem.cs
Labels: Changes: C#, Changes: YML, size/XS

#389 fix: fix scurrets gibbing into monkeys
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
  Resources/Prototypes/_L5/Body/Prototypes/scurret.yml
Labels: Changes: YML, size/M
